

/*------------------------ PER ANCORA FRECCINA  ------------------------- */


#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007BFF;
  color: #fff;
  padding: 10px 15px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  z-index: 999;
}

#scroll-to-top i {
  font-size: 20px;
}







/*------------------------ NAVBAR  ------------------------- */
/* CSS personalizzato */
/* CSS personalizzato */

/* Aggiungi questo al tuo foglio di stile CSS */
.navbar-panna {
  background-color: #f1ceaa; /* Colore panna */
}


/* Imposta la dimensione del font per tutti gli elementi nella navbar */
.navbar-nav * {
  font-size: 10px; 
}

.dropdown-item {
  font-size: 13px; 
}


/* Stili per il menu a discesa */
.dropdown-menu.show {
  background-color: #343a40;
}

/* Stili per i link nel menu a discesa espanso */
.dropdown-menu.show a.dropdown-item {
  color: rgb(225, 53, 110);
}

/* Stili per i link attivi nel menu a discesa espanso */
.dropdown-menu.show a.dropdown-item.active {
  background-color: red;
}

.custom-navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-navbar-brand .logo-img {
  width: 70px;
  height: auto;
  margin-right: 10px;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.nav-items .dropdown-menu.sub-menu {
  position: absolute;
  left: auto;
  right: 0;
  background-color: #343a40; /* Colore di sfondo per i sottoprodotti */
  border: none; /* Rimuovi il bordo */
}

.nav-items .dropdown-menu.sub-menu a.dropdown-item {
  color: rgb(244, 140, 13);/* Colore del testo per i sottoprodotti */
}

.nav-items .dropdown-menu.sub-menu a.dropdown-item.active {
  background-color: red; /* Colore di sfondo più chiaro per il link attivo */
}


.nav-items .nav-link {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.nav-items .nav-link .fa-flag {
  font-size: 24px;
  margin-left: 5px;
}

.nav-items .nav-link .fa-flag:hover {
  color: #ff3d00;
}

nav .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  background: #343a40; /* Cambia il colore di sfondo */
  padding: 10px;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

nav .sub-menu li {
  margin: 10px 0;
}

nav .sub-menu li a {
  color: red; /* Cambia il colore del testo */
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

nav .sub-menu li a:hover {
  color: #ff3d00;
}

/* CSS personalizzato per il logo */
.logo-img {
  width: 70px;
}

@media (max-width: 1300px) {
  .custom-navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .custom-navbar-brand .logo-img {
    width: 50px;
  }

  nav .nav-items ul {
    flex-direction: column;
    align-items: center;
    margin-top: 10px; /* Aggiunto margine superiore per centrare gli elementi */
    margin-bottom: 10px; /* Aggiunto margine inferiore per separare gli elementi */
    padding-left: 0; /* Rimuove il padding sinistro per allineare gli elementi al centro */
  }

  nav .nav-items li {
    width: 100%;
    text-align: center;
    margin-bottom: 10px; /* Aggiunto margine inferiore per separare gli elementi */
  }

  .logo-img {
    width: 50px;
  }

  /* Stili personalizzati per le sottocategorie dei menu a discesa */
  .sub-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sub-menu a {
    flex: 1;
    text-align: center;
    color: black;
  }

  /* Aggiunto il seguente blocco di codice CSS */
  .navbar-nav {
    justify-content: center;
    font-size: 16px; 
  }
}


.icona-bandiera {
  width: 20px; /* Imposta la larghezza desiderata */
  height: auto; /* L'altezza si adatterà proporzionalmente */
}

/*------------------------ FINE  NAVBAR  ------------------------- */



/*------------------------ PARALAX  ------------------------- */


/*  l'animazione ORSI S.L.R. Industria Chimica Orsi*/
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Applica l'animazione alle scritte <h1> e <p> */
.parallax-text h1, .parallax-text p {
  animation: slideInFromLeft 1s ease-out forwards;
}

.parallax-section {
  background-image: url('images/b4mobile.png'); /* Specifica il percorso dell'immagine di sfondo */
  background-size: 60%; /* Imposta l'immagine di sfondo per mantenere le dimensioni originali */
  background-attachment: fixed; /* Fissa l'immagine di sfondo per l'effetto parallasse */
  background-repeat: no-repeat;
  background-position: 100% center; /* Posiziona l'immagine all'estrema destra */
  height: 400px; /* Altezza della sezione parallasse */
  color: #000000; /* Colore del testo */
  text-align: left; /* Allinea il testo a sinistra */
  padding: 100px 0; /* Spazio interno alla sezione */
}

/* Stile per il testo all'interno della sezione parallasse */
.parallax-text {
  font-size: 40px;
  float: center; /* Allinea il testo al centro */
  margin-left: 10%; /* Aumenta il margine sinistro per spostare il titolo verso destra */
}

/* Stile per l'immagine all'interno della sezione parallasse */
.parallax-image {
  float: right; /* Allinea l'immagine a destra */
}

/* Media query per dispositivi mobili (massima larghezza 767px) */
@media (max-width: 767px) {
  .parallax-section {
    background-size: 50%; /* Usa l'immagine di sfondo per coprire l'intera larghezza */
    background-attachment: scroll; /* Torna al normale scorrimento dell'immagine di sfondo */
    height: auto; /* Altezza automatica per adattarsi al contenuto */
    padding: 50px 0; /* Riduci lo spazio interno */
  }

  /* Aggiustamenti per il testo su dispositivi mobili */
  .parallax-text {
    font-size: 18px; /* Riduci la dimensione del testo */
    float: none; /* Rimuovi l'allineamento a sinistra */
    margin-right: 0; /* Rimuovi il margine destro */
    text-align: left; /* Allinea il testo a sinistra */
  }

  /* Aggiustamenti per l'immagine su dispositivi mobili */
  .parallax-image {
    float: right; /* Mantieni l'allineamento a destra */
    text-align: center; /* Allinea l'immagine al centro */
  }
}


:root{
    --btn-color:#e58f00;
    --about-sec:#1d1d23;
}



/*------------------------ CARDS  ------------------------- */

 /* Stile iniziale per le cards */
 .card {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 5s ease, transform 5s ease;
}

/* Quando il contenitore .card-list viene selezionato (ad esempio, al passaggio del mouse) */
.card-list:hover .card {
  opacity: 1;
  transform: translateY(0);
}



.innovation-section {
  padding: 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
}





/* Stile per le cards */
.card-list {
  list-style: none;
  padding-left:10% ;
  padding-right:10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Stile per le cards */
.card {
  width: calc(33.33% - 20px); /* Larghezza delle cards con spazio tra di esse */
  margin: 0 10px 20px;  /* Margini tra le cards */
  padding: 2px;
  background-color: rgb(42, 37, 37); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 200px; /* Imposta un'altezza minima per tutte le cards */
  display: flex;
  flex-direction: column; /* Imposta il contenuto delle cards come colonna */
}

/* Stile per il contenuto delle cards */
.card-content {
  flex: 1; /* Fai espandere il contenuto per occupare lo spazio rimanente */
  padding: 10px;
  color: white;  /* Cambia il colore del testo, ad esempio a blu */
  background-color: rgb(42, 37, 37); 
  display: flex;
  flex-direction: column; /* Imposta il testo come colonna */
}

/* Stile per le immagini */
.card-content img {
  width: 100%; /* Imposta la larghezza dell'immagine al 100% della card */
  height: auto;
  margin-top: auto;
}

/* Stile per la card nell'ultima riga */
.last-row-card {
  width: calc(50% - 20px); /* Larghezza della card dell'ultima riga con spazio tra di esse */
  margin: 0 10px 20px; /* Margini tra le cards */
}

/* Media query per dispositivi mobili */
@media (max-width: 768px) {
  .card {
    width: 100%; /* Larghezza delle cards al 100% in modalità telefono */
    margin: 0 0 20px; /* Margini tra le cards in modalità telefono */
  }

  .last-row-card {
    width: 100%; /* Larghezza della card dell'ultima riga al 100% in modalità telefono */
    margin: 0 0 20px; /* Margini tra le cards in modalità telefono */
  }
}





/*------------------------ PRODUZIONE  ------------------------- */


.enjoy-our-food{
    padding: 2rem 7%;
    background: url(images/enjoye.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.food-main-content{
    width: 70%;
    border: 4px solid white;
    padding: 2rem;
}
.food-main-content h1{
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 1rem 0;
}
.food-main-content p{
    color: white;
    font-size: 1.0rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);


   /* text-align: center;*/
    padding: 1rem 0;
    line-height: 30px;
}


/*------------------------  CHI SIAMO  ------------------------- */

/*  un'animazione di dissolvenza */
 /* Definisci un'animazione di dissolvenza su hover */
 .menu-food-content img {
  opacity: 0.5; /* Opacità iniziale */
  transition: opacity 0.5s ease-in-out;
}

/* Applica l'animazione al passaggio del mouse sopra l'immagine */
.menu-food-content:hover img {
  opacity: 1; /* Opacità al passaggio del mouse */
}


/* Stili per la sezione "Chi Siamo" */
.description {
  color: white;
}
.ecologia-text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; /* Allinea al centro orizzontalmente */
  justify-content: center; /* Allinea al centro verticalmente */
  gap: 10px; /* Aggiunge spazio tra le frasi */
  text-align: center; /* Allinea il testo al centro all'interno del paragrafo */
  line-height: 1.5; 
}



.our-menu-food {
  background-color: var(--about-sec);
}

.our-menu-food h1 {
  color: white;
  font-size: 10px;
  text-align: center;
  padding: 0.5rem 0;
}

.main-menu-food {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: px;
}

.inner-menu-food {
  flex: 1 1 calc(25% - 20px); /* 4 box su una riga */
  margin: 10px; /* Spazio tra i box */
  max-width: calc(25% - 20px); /* Imposta larghezza massima per 4 box */
}

.menu-food-content {
  width: 100%;
}

.menu-food-content img {
  width: 100%;
  max-width: 100%; /* Imposta larghezza massima dell'immagine */
  height: auto;
  object-fit: cover;
}


.menu-food-text h2 {
  color: var(--btn-color);
  font-size: 30px;
}

.before img {
  width: 100%;
  object-fit: cover;
}

.main-footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.main-footer img {
  width: 200px;
}

@media (max-width: 767px) {

  .inner-menu-food {
    max-width: calc(70% - 20px); /* Imposta larghezza massima per 4 box */

  }
  .header {
    padding: 3rem;
  }
  .icons div {
    display: initial;
  }

  /* home css desing */

  .home-text-content {
    padding: 0 2rem;
  }

  .home-image img {
    transform: translate(0%, 0%);
  }

  .about-content .about-inner-content img {
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
  .quality-content {
    padding: 1rem 2rem;
  }
  .quality-content h1 {
    color: var(--about-sec);
  }
  .menu-main-content {
    width: 100%;
    border: 4px solid white;
    padding: 1rem;
  }

  /* Modifica per la modalità telefono */
  .main-menu-food {
    flex-direction: column;
    align-items: center;
  }
}

.description, 
.menu-food-text h3 {
  color: #fff; 
}




/*------------------------  carosello nuovo    ------------------------- */

/* Stili del carosello */
.carousel-container2 {
  position: relative;
  max-width: 100%;
  height: 450px;
  overflow: hidden;
}

.carousel2 {
  display: flex;
  width: 400%; /* Numero di slide * 100% */
  transition: transform 0.3s ease-in-out;
  justify-content: center; /* Centra le immagini orizzontalmente */
}

.slide {
  flex: 0 0 25%; /* Larghezza di ciascuna slide */
  display: flex;
  justify-content: center; /* Centra le immagini verticalmente */
}

.slide img {
  width: auto;
  max-height: 100%;
  object-fit: contain;
  max-width: 100%; /* Assicura che l'immagine non superi la larghezza del contenitore */
}

/* Stili dei pulsanti */
.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.carousel-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
/*------------------------  2 slider      ------------------------- */

.carousel-inner img {
  max-width: 25%;
  height: auto;
}

.titolo-partner {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.carousel-container {
  position: relative;
}

#carouselExampleIndicators {
  width: 100%;
}

.carousel-inner {
  position: relative;
}

/* Utilizza un selettore più specifico per le tue regole CSS personalizzate */
div#carouselExampleIndicators ol.carousel-indicators {
  bottom: -30px;
  height:10px; /* Imposta la distanza desiderata dal fondo */
  /* Altre regole CSS personalizzate se necessario */
}





/*------------------------------    NOVITA  ----------------------------- */
/* Stile per la sezione "NOVITA" */
/* Stile per la sezione "NOVITA" */
.about2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 300px;
}

.about-content2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.myimageabout {
  padding-right: 100px;
  height: auto;
  max-width: 300px;
}

/* Stile per il titolo "Novità" */
.about-text-content h2 {
  color: #fff;
  text-align: center;
  margin-top: 0; /* Rimuove il margine superiore predefinito */
}
.about-text-content{
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .about2 {
    flex-direction: column;
    height: auto;
  }
  .about-content2 {
    width: 100%;
    text-align: center;
  }
  .myimageabout {
    height: auto;
    max-width: 400px;
  }
  .about-text-content{
    margin: 10px;
  }
}



 /*------------------------ NOMI AZIENDE   ------------------------- */

 .our-clients {
	width: 100%;
	height: auto;
	text-align: center;
  background-color: #000000;
}

.our-clients ul {
	padding: 0;
	margin: 0;
}

.our-clients ul li {
	list-style: none;
	display: inline-block;
	width:180px;
	height:100px;
	position: relative;
	overflow: hidden;
	cursor:pointer;
	margin: 10px;
	box-shadow: 0px 0px 10px -7px #555;
	transition: .5s;
}

.our-clients ul li img {
	width: 100%;
	height: 100%;
}
.our-clients ul li img:nth-child(1) {
	transform: translateY(0);
	transition: .5s;
}
.our-clients ul li img:nth-child(2) {
	transform: translateY(0);
	transition: .5s;
}

/*Hover-Section*/


.our-clients ul li:hover img:nth-child(1) {
	transform: translateY(-100%);
	transition: .5s;
}
.our-clients ul li:hover img:nth-child(2) {
	transform: translateY(-100%);
	transition: .5s;
}                         


.logo-item {
  margin: 10px;
  opacity: 0; /* Inizialmente rendi le immagini trasparenti */
  transform: translateY(20px); /* Inizialmente sposta le immagini verso il basso */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.logo-item img {
  max-width: 100px; /* Regola la larghezza massima delle immagini */
  height: auto;
}

 /* Stili CSS per le immagini */
 .client-logos {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.client-logos li {
  width: 180px;
  height: 100px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px -7px #555;
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0;
}

.client-logos img {
  max-width: 100%;
  height: auto;
}


/*------------------------  footer      ------------------------- */



/* Stile generale della pagina */


.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}


.footer {
  background-color: #24262b;
  width: 100%;
  padding: 70px 0;
  text-align: center;
}

.footer-col {
  flex: 1;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li {
  display: inline-block;
  margin-right: 20px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}


/*responsive*/
@media(max-width: 767px){
  body {
    position: relative;
  }

  .footer {
    bottom: 0;
    left: 0;
    background-color: #24262b;
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }

  .footer-col {
    width: 100%;
    margin-bottom: 20px;
  }

  /* Aggiungi spazio sopra il footer in modo che non copra il contenuto principale */
  .push {
    height: 100px; /* Regola questa altezza in base alle tue esigenze */
  }
}







