/*------------------------ NAVBAR  ------------------------- */
/* CSS personalizzato */
.custom-navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-navbar-brand .logo-img {
  width: 70px;
  height: auto;
  margin-right: 10px;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.nav-items .dropdown-menu.sub-menu {
  position: absolute;
  left: auto;
  right: 0;
}

.nav-items .dropdown-menu.sub-menu.dropdown-menu-right {
  right: auto;
  left: 0;
}

.nav-items .nav-link {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.nav-items .nav-link .fa-flag {
  font-size: 24px;
  margin-left: 5px;
}

.nav-items .nav-link .fa-flag:hover {
  color: #ff3d00;
}

nav .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  background: #47454e;
  padding: 10px;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

nav .sub-menu li {
  margin: 10px 0;
}

nav .sub-menu li a {
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

nav .sub-menu li a:hover {
  color: #ff3d00;
}

/* CSS personalizzato per il logo */
.logo-img {
  width: 70px;
}

@media (max-width: 768px) {
  .custom-navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .custom-navbar-brand .logo-img {
    width: 50px;
  }

  nav .nav-items ul {
    flex-direction: column;
    align-items: center;
    margin-top: 10px; /* Aggiunto margine superiore per centrare gli elementi */
    margin-bottom: 10px; /* Aggiunto margine inferiore per separare gli elementi */
    padding-left: 0; /* Rimuove il padding sinistro per allineare gli elementi al centro */
  }

  nav .nav-items li {
    width: 100%;
    text-align: center;
    margin-bottom: 10px; /* Aggiunto margine inferiore per separare gli elementi */
  }

  .logo-img {
    width: 50px;
  }

  /* Stili personalizzati per le sottocategorie dei menu a discesa */
  .sub-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sub-menu a {
    flex: 1;
    text-align: center;
    color: white;
  }

  /* Aggiunto il seguente blocco di codice CSS */
  .navbar-nav {
    justify-content: center;
  }
}


.icona-bandiera {
  width: 20px; /* Imposta la larghezza desiderata */
  height: auto; /* L'altezza si adatterà proporzionalmente */
}





        /*------------------------ PARTE MAIN       ------------------------- */



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root{
    --btn-color:#e58f00;
    --about-sec:#1d1d23;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
    text-transform: capitalize;
}
html{
    font-size: 65%;
    scroll-behavior: smooth;
}

.logo img{
    width: 60px;
}
.navbar a{
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}
.navbar a:hover{
    color: var(--btn-color);
}
.icons div{
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
    display: none;
}
.icons div:hover{
    cursor: pointer;
}

.icons a{
    color: white;
    padding: 0.6rem 1.5rem;
    border: 1px solid orange;
    border-radius: 10px;
    font-size: 18px;
   transition: 0.5s;
   display: inline-block;
}
.contact-btn:hover{
    transform: scale(1.1);
    background: var(--btn-color);
    border: 1px solid white;
}

.navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}






/* RICERCA E SVILUPPO */

.home {
 background-color: orange;
 
}

.main-home {
  max-width: 66%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Aggiunto il valore center per allineare i contenuti al centro */
  align-items: center;
}

.home-text-content {
  flex-basis: 50%;
  padding-right: 15px;
  text-align: center; /* Impostato il valore a center per allineare il testo al centro */
}

.home-text-content h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.home-text-content p {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 30px;
}

.home-image {
  flex-basis: 50%;
  text-align: center;
}

.home-image img {
  max-width: 100%;
  height: auto;
  max-height: 50vh;
}


.home-image img {
  animation: oscillate 3s ease-in-out infinite;
}

@keyframes oscillate {
  0% { transform: rotate(-2deg); }
  50% { transform: rotate(2deg); }
  100% { transform: rotate(-2deg); }
}


@media only screen and (max-width: 768px) {
  .main-home {
    flex-direction: column;
    align-items: center;
  }
  
  .home-text-content {
    flex-basis: 100%;
    padding-right: 0;
    text-align: center;
  }
  
  .home-image {
    flex-basis: 100%;
    margin-top: 15px;
  }
}

.home .black-text {
  color: black;
}



/* CSS DI ABOUT */
.about {
  padding: 2rem 7%;
  background: var(--about-sec);
}
.main-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.about-content {
  flex: 1 1 45rem;
}
.about-inner-content {
  width: 100%;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}
.about-content .about-inner-content img {
  max-width: 100%;
  height: auto;
}
.about-text-content {
  padding: 0 4rem;
}
.about-text-content h1 {
  color: #e58f00;
  font-size: 40px;
  margin-bottom: 15px;
}
.about-text-content p {
  color: white;
  font-size: 1.5rem;
  line-height: 35px;
}

@media only screen and (max-width: 768px) {
  .main-about {
    flex-direction: column;
  }
  .about-content {
    flex: 1 1 100%;
  }
}

.black-heading {
  color: orange;
}
.about-content div p {
  display: list-item;
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 20px;
}

h2.black-heading {
  text-decoration: underline;
  text-decoration-color: red;
}



/*CSS DEI NOSTRI BRAND*/

.services {
  padding: 2rem 7%;
  background: var(--services-sec);
  background-color: orange;
}
.main-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.services-content {
  flex: 1 1 45rem;
}
.services-inner-content {
  width: 100%;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}
.services-content .services-inner-content img {
  max-width: 35%;
  height: auto;
}
.services-content h3 {
  color: #e58f00;
  font-size: 30px;
  margin-bottom: 15px;
}
.services-content p {
  color: black;
  font-size: 1.2rem;
  line-height: 25px;
}

.services-header {
  text-align: center;
  margin-bottom: 3rem;
}
.services-header h2 {
  color: black;
  font-size: 40px;
  margin-bottom: 15px;
}
.services-header p {
  color: black;
  font-size: 1.5rem;
  line-height: 35px;
}


@media only screen and (max-width: 768px) {
  .main-services {
    flex-direction: column;
  }
  .services-content {
    flex: 1 1 100%;
  }
}





/* css del idrocristalli*/


.quality {
  padding: 4rem 7%;
  background-image: linear-gradient(60.34deg, white 52.45%, var(--btn-color) 52.45%);
}

.main-quality {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.main-inner-quality {
  flex: 1 1 45rem;
}

.quality-content {
  padding: 0 4rem;
}

.quality-content h1 {
  color: var(--btn-color);
  font-size: 40px;
  margin-bottom: 15px;
}

.quality-content p {
  color: var(--about-sec);
  font-size: 1.5rem;
  line-height: 30px;
}

.qulity-image {
  width: 90%;
}

.qulity-image img {
  width: 90%;
  object-fit: cover;
}

.gallery {
  padding: 4rem 7%;
  background: var(--about-sec);
}

.gallery h1 {
  font-size: 50px;
  text-align: center;
  padding-bottom: 3rem;
  color: var(--btn-color);
  letter-spacing: 1px;
}

.main-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.inner-gallery {
  flex: 1 1 300px;
}

.inner-gallery .gallery-image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.inner-gallery .gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease-in-out;
}

.inner-gallery .gallery-image:hover img {
  transform: scale(1.2);
}

@media only screen and (max-width: 1024px) {
  .quality-content h1 {
    color: black;
  }
}







/*PRODUZIONE*/

.enjoy-our-food{
    padding: 2rem 7%;
    background: url(images/enjoye.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.food-main-content{
    width: 40%;
    border: 4px solid white;
    padding: 2rem;
}
.food-main-content h1{
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 1rem 0;
}
.food-main-content p{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0;
    line-height: 30px;
}
.our-menu-food{
    padding: 2rem 7%;
    background-color: var(--about-sec);
}
.our-menu-food h1{
    color: var(--btn-color);
    font-size: 45px;
    text-align: center;
    padding: 0.5rem 0;
}
.main-menu-food{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.inner-menu-food{
    flex: 1 1 300px;
}
.menu-food-content{
    width:100%;

}
.menu-food-content img{
    width: 100%;
}

.menu-food-text{
    padding: 2rem 2rem;
}
.menu-food-text h2{
    color: var(--btn-color);
    font-size: 30px;
}
.menu-food-text p{
    color:white;
    font-size:18px;
    margin: 2rem 0;
}
.menu-food-text p span{
    color: #e58f00;
    padding: 0.5rem 1.5rem;
    transition: 0.3s;
    cursor: pointer;
}
.menu-food-text p:hover span{
    border: 1px solid white;
    background: var(--btn-color);
    color: white;
    transform: scale(1.1);
}
.before{
    background-color: #1d1d23;
    padding: 2rem 0;
}
.before{
    width: 100%;
}
.before img{

    width: 100%;
    object-fit: cover;
}

.main-footer{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.main-footer img{
    width: 200px;
}



@media (max-width:767px) {
    .header{
        padding: 3rem;
    }
    .icons div{
        display: initial;
    }
  
    /* home css desing */

    .home-text-content{
        padding: 0 2rem;
    }
    
    .home-image img{
        transform: translate(0%, 0%);
    }
   
    .about-content .about-inner-content img{
        width: 100%;
        margin: 0;
        padding: 1rem;
    }
    .quality-content{
        padding: 1rem 2rem;
    }
    .quality-content h1{
        color: var(--about-sec)
    }
    .food-main-content{
        width: 100%;
        border: 4px solid white;
        padding: 1rem;
    }

}  

 /*------------------------ LOGI     ------------------------- */



.our-clients {
	width: 100%;
	height: auto;
	text-align: center;
  background-color: #e58f00;
}

.our-clients ul {
	padding: 0;
	margin: 0;
}

.our-clients ul li {
	list-style: none;
	display: inline-block;
	width:180px;
	height:100px;
	position: relative;
	overflow: hidden;
	cursor:pointer;
	margin: 10px;
	box-shadow: 0px 0px 10px -7px #555;
	transition: .5s;
}

.our-clients ul li img {
	width: 100%;
	height: 100%;
}
.our-clients ul li img:nth-child(1) {
	transform: translateY(0);
	transition: .5s;
}
.our-clients ul li img:nth-child(2) {
	transform: translateY(0);
	transition: .5s;
}

/*Hover-Section*/


.our-clients ul li:hover img:nth-child(1) {
	transform: translateY(-100%);
	transition: .5s;
}
.our-clients ul li:hover img:nth-child(2) {
	transform: translateY(-100%);
	transition: .5s;
}                         


/*------------------------  INIZIO SLIDE    ------------------------- */



.container-slide {
  background-color: orange;
  margin-top: 20px;
}

.carousel-item active{
background-color: #1d1d23;

}

.carousel-img {
  max-height: 7%;
  max-width: 20%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

#carouselExampleIndicators.carousel {
  margin: 0 auto;
  width: 90%;
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
  background-color: black;
  height: 70px;
  width:70 px;
}

.carousel-control-prev-icon::before, 
.carousel-control-next-icon::before {
  display: inline-block;
  color: white;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
}

.carousel-control-prev, .carousel-control-next {
  font-size: 30px;
}














/*------------------------  FINE SLIDE    ------------------------- */







/*------------------------  footer      ------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
  width: 100%;
    padding: 70px 0;

    position: relative;
	  text-align: center;

}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;

}
.footer-col h4::before {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -10px;
	transform: translateX(-50%);
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




